.footerLinks {
    color: white;
    background-image: url('/img/footer-bg.jpg');
    background-size: cover;
}

.footerLinksContainer {
    margin-left: 100px;
    display: flex;
    gap: 20px;
}

.footerLinksTitle {
    font-size: 1rem;
    width: 100px;
    
}

.footerLinksList {
    list-style: none;
    padding: 0;
    line-height: 22px;
}


.footerLinksList a {
    text-decoration: none;
    color: #b7b7b7;
    font-size: 13px;
}

.footerLinksList a:hover {
    color: white;
}

