.footerBanner {
    background-color: #0282f9;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBannerContainer {
    display: flex;
    gap: 10px;
}

.footerBannerItem {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 0 15px;
}

.footerBannerIcon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}
